* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial;
}

form {
	background: #000;
	padding: 3px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

form input {
	border: 0;
	padding: 10px;
	flex: 1;
	min-width: 0;
	margin-right: 0.5%;
}

form button {
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
	flex: 0 0 auto;
	min-width: 0;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	flex: 1;
	min-width: 0;
}

#users-online {
	list-style-type: none;
	margin: 0;
	padding: 15px;
	border: 3px solid #000;
	flex: 0 0 300px;
	min-width: 0;
	height: 100%;
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: #eee;
}

#messages li.logout {
	color: red;
}

#messages li.login {
	color: green;
}

#login {
	display: flex;
	align-items: center;
	height: 100vh;
	width: 50%;
	justify-content: center;
	margin: 0 auto;
}

#login form {
	position: relative;
}

.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.content {
	flex: 1;
	min-width: 0;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.title {
	font-size: 16px;
	font-weight: 600;
	line-height: 32px;
	text-align: center;
}

#chat {
	display: flex;
	flex-flow: column;
	height: 100vh;
}

#chat form {
	min-height: 0;
	flex: 0 0 41px;
}

#chat #users-typing {
	min-height: 0;
	flex: 0 0 41px;
	display: flex;
	align-items: center;
	padding: 10px;
	color: red;
	font-size: 14px;
}

#chat .container {
	min-height: 0;
	flex: 1;
}

.hidden {
	display: none!important;
}

.room {
	display: none;
}

.room[data-active="true"] {
	display: flex;
	flex: 1;
	min-height: 0;
	flex-flow: column;
}

#tabs-list {
	display: flex;
	align-items: center;
	width: 100%;
	border: 2px solid black;
	list-style: none;
}

#tabs-list li{
	border: none;
	padding: 10px;
	flex: 0 0 auto;
	min-width: 0;
	border: 2px solid black;
	cursor: pointer;
}

#tabs-list li[data-active="true"] {
	background: rgb(130, 224, 255);
}